<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dog years.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFA73C671E26A3F800881742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFA73C7B1E26A3F800881742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFA73C861E26A3F800881742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
